<%= image_tag "small_logo.png", alt: "Moto-Mad logo" %>
</br>
<%= link_to "All Listings", listings_path%>

<h1>New listing form</h1> 

<p>Please add the details of your bike in the form below. <br> All fields apart from an image are mandatory. </p>

<%= render "form", listing: @listing, lams: @lams, manufacturer: @manufacturer, style: @style, location: @location %>