<%= link_to "Click here to go to Listings", listings_path%>
</br>
<%= image_tag "main_logo.png", alt: "Moto-Mad logo" %>

<p>Moto-Mad is a marketplace for two wheeled traders to share their listings with other enthusiasts for free, whilst accepting donations from customers who have a positive experience. </p>
