<p><%= link_to "Click here to go to Listings", listings_path%></p>

<p style="text-align:center"><%= image_tag "main_logo.png", alt: "Moto-Mad logo" %></p>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mr-auto">
            <p class="lead">Moto-Mad is a marketplace for two wheeled traders to share their listings with other enthusiasts for free.</p>
            
            <p class="lead">All users can both view and create listings, and each listing has its own question and answer board. Whilst the content of this is available to all, only a seller can see the email address of a buyer, allowing bids to be made through this section.   

            <p class="lead">The creators of Moto Mad understands that the sale of a bike is too important to be concluded online before a viewing, and that since a bike can be available for sale through multiple channels at the same time it is unfair to charge users a fixed sum listing fee when a listing may not result in the sale. If you think we do a good job, then you can buy us a beer!</p>
            
            </p>
        </div>
    </div>
    </br>
</div>