<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Freelancer - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">

        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About this project</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row">
                    <div class="col-lg-12 mr-auto"><h4>Purpose of this page</h4></div>

                    <div class="col-lg-12 ml-auto"><p class="lead">The brief for the project was to complete a two way market place, in which any given user could act as both a buyer or a seller. Second hand motorcyles were chosen partly because of personal interest, but also because the characteristics of bikes lend themselves to being easily classified by the categories seen in the drop down menus that could be used to filter or sort listings. </p></div>
                    <div class="col-lg-12 mr-auto"><p class="lead">The purpose of this page is not to repeat the technical aspects of the documentation which are set out on GitHub (refer link in footer below). Rather, it is to act as a one stop shop to showcase the funcionalty of the site without forcing a user to faff around waiting on slow servers. </p></div>

                    <div class="col-lg-12 mr-auto"><h4>Create an account</h4></div>

                    <div class="col-lg-12 mr-auto"><h4>Create a Listing</h4></div>

                    <div class="col-lg-12 mr-auto"><h4>Edit a Listing</h4></div>

                    <div class="col-lg-12 mr-auto"><h4>Create a question</h4></div>

                    <div class="col-lg-12 mr-auto"><h4>Respond to a question</h4></div>

                    <div class="col-lg-12 mr-auto"><h4>Delete a listing</h4></div>

                    <div class="col-lg-12 mr-auto"><h4>Making a Donation</h4></div>

                </div>
            </div>
        </section>
</html>
