</br></br></br></br></br>
</br></br></br></br></br>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mb-4">Thanks for donating! Ride safe!</h1>
        </div>
    </div>
</div>


</br></br></br></br></br>
</br></br></br></br></br>
</br></br></br>></br></br>